<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Prerequisites Graph Chart</title>
</head>
<script type="module" src="./static/js/index.js"></script>
<script>
    function changeFunction(value) {
        console.log("onchange, value is " + value);
        selectedCourse = value;
        /*{{dropdownChange value}}*/
    }
</script>
<body>
    <h2 align="center"> Course Prerequisites Graph Chart</h2>
    <!--<select name="select" id="select" onchange={{dropdownChange value}}>-->
        <select name="select" id="select">
        <option value="">Select a course...</option>
        <option value="uta-ykoodi-25407">KATVRA23 Property and Casualty Insurance</option>
        <option value="tut-cu-g-37891">TAU.M.306 Practical Training, Engineering</option>
    </select>
    <svg class="prereq-graph"></svg>
</body>
</html>

